<header class="navbar navbar-fixed-top navbar-inverse">
  <div class='col-xs-4' id='aboutUs'>
    <a href="/home">About Us</a>
  </div>

  <div class='col-xs-4' id='title'>
    <h1> Money Never Sleeps </h1>
  </div>

  <div class='col-xs-4' id='login'>
    <div>
      <a href='/users/sign_in'> Login </a>
    </div>

    <div>
      <a href='/users/sign_up'> Sign Up </a>
    </div>
  </div>
</header>

<div id="myForm">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
