<!DOCTYPE html>
<html>
<head>
  <title>MyStocks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
</head>
<body>
	<header class="navbar navbar-fixed-top navbar-inverse">
		<% if user_signed_in? && current_user.profile != nil %>
			
			<div class='col-xs-4' id='userinfo'>
				<h5>Signed in as: <%= current_user.profile.username.capitalize %></h5>
				<h5><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></h5>
			</div>

			<div class='col-xs-4' id='title'>
				<h1> Money Never Sleeps </h1>
			</div>

			<div class='col-xs-4' id='addStockDiv'>
				<div>
					<a href="/send_message"> Text My Stocks</a>
				</div>

				<div>
					<a id="addStock">Add Stock</a>
				</div>

			</div>

		<% else %>
			
			<div class='col-xs-12' id='title'>
				<h1> Money Never Sleeps </h1>
			</div>
		<% end %>
	</header>
	
<div id='page'>
<%= yield %>
</div>

</body>
</html>
